.panda-bg-info{
    background-color: rgba(235, 185, 235, 0.751);
}

.pnada-btn-buy-now{
    background-color: linear-gradient(to bottom,#ff589b 0%  #ff136f 100%);
    background-color:#f62776d0  ;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    
}